@import "tailwindcss";

@theme {
  --font-base: 'Synonym', sans-serif;
  --font-header: 'Amulya', sans-serif;
}

body, html {
  width: 100%;
  height: 100svh;
  font-family: var(--font-base);
  color: var(--color-gray-200);
  background-color: var(--color-zinc-800);
  color-scheme: dark;
}

#root {
  background-color: var(--color-zinc-800);
}

/* TEXT FIELDS */
.react-aria-SearchField {
  @apply bg-zinc-700 px-2 rounded-xl min-w-fit flex flex-row w-full md:w-fit
}

.react-aria-SearchField > .react-aria-Button {
  @apply outline-none border-none bg-zinc-700
}

.react-aria-SearchField:focus-within {
  @apply outline-2 outline-zinc-600
}

.react-aria-Input {
  @apply bg-none border-none outline-none w-full
}

.react-aria-Input::-webkit-search-cancel-button {
  @apply hidden
}



/* SELECT STUFF */
.react-aria-Select {
  @apply flex flex-col w-full
}

.react-aria-Button {
  @apply bg-zinc-800 border-2 border-zinc-700 rounded-xl p-2 text-left cursor-pointer
}

.react-aria-Button[data-focused] {
  @apply outline-2 outline-zinc-600
}

.react-aria-Popover[data-trigger=Select] {
  @apply w-[var(--trigger-width)]
}

.react-aria-ListBox {
  @apply bg-zinc-800 border-2 border-zinc-700 rounded-xl w-full
}

.react-aria-ListBoxItem {
  @apply p-2 outline-none transition-all cursor-pointer w-full
}

.react-aria-ListBoxItem:hover {
  @apply bg-zinc-700
}

/* TAG GROUP STUFF */
.react-aria-TagGroup * {
  @apply outline-none
}

.react-aria-TagList {
  @apply flex flex-row flex-wrap gap-2
}

.react-aria-Tag {
  @apply p-2 rounded-xl cursor-pointer transition-all
}

.react-aria-Tag[data-selected] {
  @apply bg-zinc-700
}


/* CHECKBOX */
.react-aria-Checkbox[data-focused] > .checkbox {
  @apply outline-2 outline-zinc-600
}

.react-aria-Checkbox > .checkbox {
  @apply border-2 border-zinc-700 rounded-lg transition-all text-transparent
}

.react-aria-Checkbox[data-selected] > .checkbox {
  @apply border-indigo-400 bg-indigo-400 text-zinc-200
}

.react-aria-Checkbox {
  @apply flex flex-row gap-2 items-center
}